@import "init.scss";
#room {
    height: 100%;
}

#gamebox {
    float: left;
    width: 900px;
    height: 750px;
    background: #E0E0E0;
    svg {
        float: left;
        width: 900px;
        height: 750px;
    }
    #game-msg{
        position:absolute;
        left: 900px;
        top: 0px;
        width:200px;
        height: 750px;
        border:1px solid #000;
        overflow: auto;
    }
}

#chatbox {
    position: absolute;
    right: 0;
    height: 100%;
    width: 320px;
    overflow: hidden;
    .head-box {
        background: #E0E0E0;
        width: 100%;
        #onlinecount {
            max-height: 80px;
            overflow: auto;
        }
    }
    #doc-box {
        max-height: 650px;
        overflow: auto;
    }
    .input-box {
        position: absolute;
        right: 100px;
        bottom: 50px;
    }
}
